.main__inner {
  @include inner;
}

.main__content {
  margin-bottom: 85px;

  @media (max-width: 900px) {
    margin-bottom: 55px;
  }
}

.main__ganre {
  margin-bottom: 10px;
}

.main__rating {
  display: flex;
  flex-wrap: wrap;
}

.main__stars {
  margin-right: 8px;
}

.main__numbers {
  font-size: 12px;
}

.main__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__description {
  max-width: 470px;
}

.main__title {
  font-family: "Mason Regular", sans-serif;
  font-size: 76px;
  margin: 55px 0 55px 0;

  @media (max-width: 350px) {
    font-size: 66px;
  }
}

.main__text {
  margin-bottom: 80px;

  @media (max-width: 900px) {
    margin-bottom: 50px;
  }
}

.main__link-online {
  display: inline-block;
  padding: 0 70px;
  line-height: 60px;
  background-color: $color-hover;
  border-radius: 6px;
  transition: $transition;

  &:hover {
    background-color: rgba($color: $color-hover, $alpha: 0.7);
  }

  &:active {
    background-color: rgba($color: $color-hover, $alpha: 1);
  }
}

.main__play {
  align-self: center;
  transition: all 0.4s ease;
  margin-right: 200px;

  @media (max-width: 900px) {
    display: none;
  }
}

.main__btn {
  @include button-style;

  border: 20px solid $color-hover;
  border-radius: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -37px;
    left: -37px;
    width: 130px;
    height: 120px;
    background-color: $color-hover;
    opacity: 0.5;
    border-radius: 100%;
    z-index: -1;
    transition: $transition;
  }

  &:hover::after {
    top: -47px;
    left: -47px;
    width: 150px;
    height: 140px;
  }

  &:active::after {
    top: -37px;
    left: -37px;
    width: 130px;
    height: 120px;
  }
}
