.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
  animation: modal 0.7s ease;
}

@keyframes modal {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__wrapper iframe {
  @media (max-width: 900px) {
    width: 400px;
    height: 250px;
  }

  @media (max-width: 550px) {
    width: 300px;
    height: 200px;
  }

  @media (max-width: 400px) {
    width: 260px;
    height: 200px;
  }
}

.modal__close {
  position: absolute;
  top: -60px;
  right: -60px;
  width: 50px;
  height: 50px;
  z-index: 1000;
  cursor: pointer;

  &:active {
    transform: scale(0.8);
  }
  @media (max-width: 400px) {
    top: -69px;
    right: -31px;
  }
}

.modal__close:hover > .modal__line--one {
  transform: rotate(320deg) scale(1.3);
}

.modal__close:hover > .modal__line--two {
  transform: rotate(-320deg) scale(1.3);
}

.modal__line {
  position: absolute;
  top: 20px;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: $color-hover;
  transition: $transition;

  @media (max-width: 550px) {
    top: 29px;
    right: 23px;
    width: 30px;
    height: 2px;
  }
}

.modal__line--one {
  transform: rotate(45deg);
}

.modal__line--two {
  transform: rotate(-45deg);
}
