.slider {
  @include inner;

  max-width: 400px;
}

.slider__inner {
  margin-bottom: 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.slider__series {
  width: 162px;
  height: 110px;
  border-radius: 10px;
  padding: 60px 0 13px 13px;
  cursor: pointer;
  transition: $transition;
  margin-right: 30px;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.slider__series--one {
  background: url("../img/card-image-one.jpg");
  background-size: 100%;

  @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
    background: url("../img/card-image-one2x.jpg") no-repeat center top rgb(20, 18, 24);
    background-size: 100%;
  }
}

.slider__series--two {
  background: url("../img/card-image-two.jpg");
  background-size: 100%;

  @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
    background: url("../img/card-image-two2x.jpg") no-repeat center top rgb(20, 18, 24);
    background-size: 100%;
  }
}

.slider__title {
  font-size: 10px;
}

// .slider__click {
//   align-self: center;
// }

// /* Слайдер */
// // .slick-slider{}
// /* Слайдер запущен */
// // .slick-slider.slick-initialized{}
// /* Слайдер с точками */
// // .slick-slider.slick-dotted{}
// /* Ограничивающая оболочка */
// .slick-list {
//   overflow: hidden;
// }
// /* Лента слайдов */
// .slick-track {
//   display: flex;
// }
// /* Слайд */
// // .slick-slide {}
// /* Слайд активный (показывается) */
// // .slick-slide.slick-active{
// // }
// /* Слайд основной */
// .slick-slide.slick-current {
//   border-radius: 10px;
// }
// /* Слайд по центру */
// // .slick-slide.slick-center{
// // }
// /* Клонированный слайд */
// // .slick-slide.slick-cloned{
// // }
// /* Стрелка */
// .slick-arrow {
//   position: absolute;
//   top: 50%;
//   z-index: 10;
// }
// /* Стрелка влево */
// .slick-arrow.slick-prev {
//   display: none !important;
// }
// /* Стрелка вправо */
// .slick-arrow.slick-next {
//   position: absolute;
//   top: 50%;
//   right: 0;
//   transform: translateY(-50%);
//   background: url("../img/sprite-svg/arrow.svg") no-repeat center right;
//   font-size: 0;
//   min-width: 40px;
//   border: none;
//   transition: $transition;

//   &:hover {

//     transform: translateY(-13px) scale(1.1);
//   }

//   &:active {
//     transform: translateY(-13px) scale(1);
//   }
// }
// /* Стрелка не активная */
// // .slick-arrow.slick-disabled{}
// /* Точки (булиты) */
// // .slick-dots{}
// // .slick-dots li{}
// /* Активная точка */
// // .slick-dots li.slick-active{}
// /* Элемент точки */
// // .slick-dots li button{}
