.social {
  @media (max-width: 900px) {
    display: none;
  }
}

.social__list {
  @include reset-list;

  display: flex;
  align-items: center;
}

.social__item {
  transition: $transition;

  &:hover {
    color: $color-hover;
    transform: scale(1.2);
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}
