// Текстовые стили, размеры шрифтов и тд
body {
  background-color: #141218;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}
